<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>MB Patrol: CPR</title>
    <style type="text/css" media="screen">
      body {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }
      
      h1 {
        font-size: 28px;
        color: #000;
      }
      
      a  {color: #03c}
      a:hover {
        background-color: #03c;
        color: white;
        text-decoration: none;
      }
      
      
      #page {
        background-color: #f0f0f0;
        width: 750px;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
      }
      
      #content {
        float: left;
        background-color: white;
        border: 3px solid #aaa;
        border-top: none;
        padding: 25px;
        width: 500px;
      }
      
      #sidebar {
        float: right;
        width: 175px;
      }

      #footer {
        clear: both;
      }
      

      #header {
        background-repeat: no-repeat;
        background-position: top left;
        height: 64px;
      }
      #header h1, #header h2 {margin: 0}
      #header h2 {
        color: #888;
        font-weight: normal;
        font-size: 16px;
      }
      
      
      #getting-started {
        border-top: 1px solid #ccc;
        margin-top: 25px;
        padding-top: 15px;
      }
      #getting-started h1 {
        margin: 0;
        font-size: 20px;
      }
      #getting-started h2 {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        color: #333;
        margin-bottom: 25px;
      }
      #getting-started ol {
        margin-left: 0;
        padding-left: 2em;
      }
      #getting-started li {
        font-size: 18px;
        color: #888;
        margin-bottom: 25px;
      }
      #getting-started li h2 {
        margin: 0;
        font-weight: normal;
        font-size: 18px;
        color: #333;
      }
      #getting-started li p {
        color: #555;
        font-size: 13px;
      }
      
      #sidebar ul {
        margin-left: 0;
        padding-left: 0;
      }
      #sidebar ul h3 {
        margin-top: 25px;
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
      }
      #sidebar li {
        list-style-type: none;
      }
      #sidebar ul.links li {
        margin-bottom: 5px;
      }
      
    </style>
<!-- <script type="text/javascript" src="javascripts/prototype.js"></script>
    <script type="text/javascript" src="javascripts/effects.js"></script> -->
    <script type="text/javascript">
      function resize(an_id, delta, minimum, maximum) {
        var elem = document.getElementById(an_id);
        var size = elem.size
        if ((delta < 0 && size > minimum) || (delta > 0 && size < maximum)) {
          elem.size = size + delta
	  return true;
	}
        return false;
      }
    </script>
  </head>
  <body>
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
        
          <li>
            <h3>Class information</h3>
	    <p>
	      All classes are at the Geneva Fire Hall, 4518 Cable
	      Street in Bellingham.  You may sign up for any session,
	      not just the one for your team.  Base and midweek, pick
	      any session.
	    </p>
	  </li>

          <li>
            <h3>Contact the trainers</h3>
	    <p>
	      ... if you have questions.  This Web signup form is
	      about leveling out the class sizes, and saving the
	      trainers a bunch of emails and phone calls -- but call
	      if you need to.
	    </p>
            <ul class="links">
              <li>
		<a href="mailto:erica@renlabs.com">Erica Work</a>,
		360 220-2994
	      </li>
            </ul>
          </li>

	  <li>
	    <h3>Can't do any session?</h3>
	    <p>
	      OK, legitimate reason to contact the trainer!  Make-up
	      classes will be offered later in the fall.
	    </p>
	  </li>
        </ul>
      </div>

      <div id="content">
        <div id="header">
          <h1>CPR Class Signup</h1>
          <h2>Mt. Baker Ski Patrol</h2>
        </div>

        <div id="getting-started">
	  <% form_tag '/alldone/record' do -%>
          <h1>Getting in</h1>
          <h2>Here&rsquo;s how to get signed up for a CPR session:</h2>
          
          <ol>          
            <li>
              <h2>
		Click to highlight your name
		<input type="button" onclick="resize('person_id',3,4,30);" value="+" />
		<input type="button" onclick="resize('person_id',-1,4,30);" value="-" />
	      </h2>
	      <%= select_tag("person_id", @people_options_string, :size => "5") %>
            </li>

            <li>
              <h2>Click to highlight a session</h2>
	      <%= select_tag("session_id", @session_options_string, :size => "4") %>
	      <p>Sessions disappear from list when full.</p>
            </li>
            
            <li>
              <h2>Click Okay</h2>
	      <input type="submit" value="Okay"> <p>(or just close this browser window to quit without making a reservation.)
            </li>
          </ol>
	  <% end -%>
        </div>
      </div>
      
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>
