<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>MB Patrol: CPR</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <script type="text/javascript">
      function resize(an_id, delta, minimum, maximum) {
        var elem = document.getElementById(an_id);
        var size = elem.size
        if ((delta < 0 && size > minimum) || (delta > 0 && size < maximum)) {
          elem.size = size + delta
	  return true;
	}
        return false;
      }
    </script>
  </head>
  <body>
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
        
          <li>
            <h3>Class information</h3>
	    <p>
	      All classes are at the Geneva Fire Hall, 4518 Cable
	      Street in Bellingham.  You may sign up for any session,
	      not just the one for your team.  Base and midweek, pick
	      any session.
	    </p>
	  </li>

          <li>
            <h3>Contact the trainers</h3>
	    <p>
	      ... if you have questions.  This Web signup form is
	      about leveling out the class sizes, and saving the
	      trainers a bunch of emails and phone calls -- but call
	      if you need to.
	    </p>
            <ul class="links">
              <li>
		<a href="mailto:erica@renlabs.com">Erica Work</a>,
		360 220-2994
	      </li>
            </ul>
          </li>

	  <li>
	    <h3>Can't do any session?</h3>
	    <p>
	      OK, legitimate reason to contact the trainer!  Make-up
	      classes will be offered later in the fall.
	    </p>
	  </li>
        </ul>
      </div>

      <div id="content">
        <div id="header">
          <h1>CPR Class Signup</h1>
          <h2>Mt. Baker Ski Patrol</h2>
        </div>

        <div id="getting-started">
	  <%= render :partial => @guts, :layout => false %>
        </div>
      </div>
      
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>
