<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>MB Patrol: CPR signup INCOMPLETE</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/incomplete.css" />
  </head>
  <body>
    <div id="page">
      <div id="sidebar">
        <ul id="sidebar-items">
          <li>
            <h3>YOU'RE NOT DONE...</h3>
	    <p>
	      Looks like you didn't click on a name and a session.
	      Make sure both a name and a session are highlighted
	      before you click Okay on the signup form.
	    </p>
          </li>
        </ul>
      </div>

      <div id="content">
        <div id="header">
          <h1>TROUBLE</h1>
          <h2>You're not signed up yet</h2>
        </div>

        <div id="getting-started">
          <h1>NOT DONE</h1>
	  <p>
	    I didn't see that you highlighted both a name and a
	    session before clicking Okay.
	    <%= link_to "Try again", "/cpr/signup" %>
	  </p>
        </div>
      </div>
      
      <div id="footer">&nbsp;</div>
    </div>
  </body>
</html>

